<a href="https://colab.research.google.com/github/Ankit-2409/Credit-Card-Fraud-Detection-Using-Machine-Learning/blob/main/Credit_Card_Fraud_Detection.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Importing the Dependencies

In [ ]:
import numpy as np
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.metrics import accuracy_score
from sklearn.linear_model import LogisticRegression

In [ ]:
# loading the dataset 
credit_card_data = pd.read_csv('/content/creditcard.csv')

In [ ]:
# first 5 rows of the dataset
credit_card_data.head()

,Time,V1,V2,V3,V4,V5,V6,V7,V8,V9,...,V21,V22,V23,V24,V25,V26,V27,V28,Amount,Class
0,0,-1.359807,-0.072781,2.536347,1.378155,-0.338321,0.462388,0.239599,0.098698,0.363787,...,-0.018307,0.277838,-0.110474,0.066928,0.128539,-0.189115,0.133558,-0.021053,149.62,0.0
1,0,1.191857,0.266151,0.166480,0.448154,0.060018,-0.082361,-0.078803,0.085102,-0.255425,...,-0.225775,-0.638672,0.101288,-0.339846,0.167170,0.125895,-0.008983,0.014724,2.69,0.0
2,1,-1.358354,-1.340163,1.773209,0.379780,-0.503198,1.800499,0.791461,0.247676,-1.514654,...,0.247998,0.771679,0.909412,-0.689281,-0.327642,-0.139097,-0.055353,-0.059752,378.66,0.0
3,1,-0.966272,-0.185226,1.792993,-0.863291,-0.010309,1.247203,0.237609,0.377436,-1.387024,...,-0.108300,0.005274,-0.190321,-1.175575,0.647376,-0.221929,0.062723,0.061458,123.50,0.0
4,2,-1.158233,0.877737,1.548718,0.403034,-0.407193,0.095921,0.592941,-0.270533,0.817739,...,-0.009431,0.798278,-0.137458,0.141267,-0.206010,0.502292,0.219422,0.215153,69.99,0.0

In [ ]:
credit_card_data.tail()

,Time,V1,V2,V3,V4,V5,V6,V7,V8,V9,...,V21,V22,V23,V24,V25,V26,V27,V28,Amount,Class
17500,28773,-0.430412,1.018080,1.560273,-0.025709,-0.061009,-0.904727,0.698988,-0.064000,-0.390847,...,-0.225444,-0.598821,-0.012457,0.359689,-0.192403,0.071511,0.263548,0.121474,5.38,0.0
17501,28774,-1.184230,1.025272,1.722521,-0.246293,0.689898,1.006001,0.474374,0.400677,-0.506778,...,0.221976,0.824696,-0.164754,-0.589006,0.132438,0.562652,0.053304,0.109783,3.99,0.0
17502,28775,1.067437,-0.828109,0.456921,0.510196,-0.881389,0.149908,-0.474485,-0.092441,-0.585492,...,-0.193558,-0.188801,-0.302328,-0.435477,0.622916,-0.190089,0.056720,0.054231,158.00,0.0
17503,28776,-6.392357,4.547807,-7.610294,2.051154,-3.701227,-2.361965,-2.346386,4.345503,-0.186320,...,-0.079794,-0.754866,-0.147426,0.063744,0.106242,-0.374011,0.041010,-0.266988,89.99,0.0
17504,28777,0.877247,-0.990305,0.565650,0.150685,-0.770408,0.625613,-0.494277,0.187495,1.210786,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [ ]:
credit_card_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 17505 entries, 0 to 17504
Data columns (total 31 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Time    17505 non-null  int64
 1   V1      17505 non-null  float64
 2   V2      17505 non-null  float64
 3   V3      17505 non-null  float64
 4   V4      17505 non-null  float64
 5   V5      17505 non-null  float64
 6   V6      17505 non-null  float64
 7   V7      17505 non-null  float64
 8   V8      17505 non-null  float64
 9   V9      17505 non-null  float64
 10  V10     17505 non-null  float64
 11  V11     17505 non-null  float64
 12  V12     17505 non-null  float64
 13  V13     17505 non-null  float64
 14  V14     17505 non-null  float64
 15  V15     17505 non-null  float64
 16  V16     17505 non-null  float64
 17  V17     17505 non-null  float64
 18  V18     17505 non-null  float64
 19  V19     17505 non-null  float64
 20  V20     17504 non-null  float64
 21  V21     17504 non-null  float64
 22  V22     17504 non-null  float64
 23  V23     17504 non-null  float64
 24  V24     17504 non-null  float64
 25  V25     17504 non-null  float64
 26  V26     17504 non-null  float64
 27  V27     17504 non-null  float64
 28  V28     17504 non-null  float64
 29  Amount  17504 non-null  float64
 30  Class   17504 non-null  float64
dtypes: float64(30), int64(1)
memory usage: 4.1 MB

In [ ]:
credit_card_data.isnull().sum()

Time      0
V1        0
V2        0
V3        0
V4        0
V5        0
V6        0
V7        0
V8        0
V9        0
V10       0
V11       0
V12       0
V13       0
V14       0
V15       0
V16       0
V17       0
V18       0
V19       0
V20       1
V21       1
V22       1
V23       1
V24       1
V25       1
V26       1
V27       1
V28       1
Amount    1
Class     1
dtype: int64

In [ ]:
# distribution of legit transactions & fraudulent transactions
credit_card_data['Class'].value_counts()

0.0    17423
1.0       81
Name: Class, dtype: int64

0 --> Normal Transaction

1 --> fraudulent transaction

In [ ]:
# separation of data
legit = credit_card_data[credit_card_data.Class == 0]
fraud = credit_card_data[credit_card_data.Class == 1]

In [ ]:
print(legit.shape)
print(fraud.shape)

(17423, 31)
(81, 31)

In [ ]:
legit.Amount.describe()

count    17423.000000
mean        66.995542
std        188.199763
min          0.000000
25%          5.490000
50%         15.950000
75%         56.000000
max       7712.430000
Name: Amount, dtype: float64

In [ ]:
fraud.Amount.describe()

count      81.000000
mean       98.105926
std       267.464067
min         0.000000
25%         1.000000
50%         1.000000
75%        99.990000
max      1809.680000
Name: Amount, dtype: float64

In [ ]:
credit_card_data.groupby('Class').mean()
#comparing values..

,Time,V1,V2,V3,V4,V5,V6,V7,V8,V9,...,V20,V21,V22,V23,V24,V25,V26,V27,V28,Amount
Class,,,,,,,,,,,,,,,,,,,,,
0.0,13535.804282,-0.210842,0.236097,0.841988,0.268584,-0.109687,0.114310,-0.107933,-0.008790,0.774634,...,0.030926,-0.058689,-0.152664,-0.035827,0.015201,0.117958,0.036023,0.010593,0.006289,66.995542
1.0,16833.074074,-9.315066,6.779465,-13.052870,6.451318,-6.557541,-2.602613,-9.012856,4.730365,-3.087651,...,0.756424,0.549752,-0.423495,-0.398104,-0.277836,0.355688,0.177616,0.940693,0.090007,98.105926

Number of Fraudulent Transactions --> 492

In [ ]:
legit_sample = legit.sample(n=492)

Concatenating two DataFrames

In [ ]:
new_dataset = pd.concat([legit_sample, fraud], axis=0)

In [ ]:
new_dataset.head()

,Time,V1,V2,V3,V4,V5,V6,V7,V8,V9,...,V21,V22,V23,V24,V25,V26,V27,V28,Amount,Class
8738,11878,-1.195723,0.301384,2.201803,-2.728104,0.068665,-0.206788,0.236750,-0.077273,2.679181,...,-0.104339,0.488847,-0.429480,-0.323576,0.732168,-0.038993,0.220725,-0.044553,18.00,0.0
8439,11321,1.113691,-1.340337,2.031331,-0.066750,-1.784792,1.718839,-2.207828,0.698412,2.157591,...,0.226390,1.319148,-0.118245,-0.249858,0.311175,0.100265,0.101927,0.009237,26.50,0.0
12247,21398,-0.712661,0.322192,2.775495,-1.760907,-0.555376,-0.479376,0.250480,-0.042155,2.472823,...,-0.107028,0.145017,-0.343053,0.455037,0.365851,-0.868326,-0.094905,-0.162882,11.85,0.0
2238,1769,1.241908,0.205299,0.398826,0.424773,-0.243974,-0.473666,-0.036665,-0.047231,-0.218865,...,-0.225866,-0.678312,0.081198,-0.002696,0.237988,0.097226,-0.032047,0.005763,1.29,0.0
14140,25145,1.215908,0.387750,0.411236,0.851294,-0.148434,-0.566084,-0.112743,-0.121530,1.378318,...,-0.415397,-0.936711,0.175750,-0.038783,0.105737,0.086950,-0.036109,0.020080,1.78,0.0

In [ ]:
new_dataset.tail()

,Time,V1,V2,V3,V4,V5,V6,V7,V8,V9,...,V21,V22,V23,V24,V25,V26,V27,V28,Amount,Class
17317,28625,-27.848181,15.598193,-28.923756,6.418442,-20.346228,-4.828202,-19.210896,18.329406,-3.668735,...,1.802149,-2.062934,-1.269843,0.165409,1.999499,-0.211059,1.324809,0.388090,99.99,1.0
17366,28658,-28.524268,15.876923,-29.468732,6.447591,-20.786000,-4.865613,-19.501084,18.748872,-3.642990,...,1.805770,-2.119376,-1.317450,0.169846,2.051687,-0.210502,1.301734,0.380246,99.99,1.0
17407,28692,-29.200329,16.155701,-30.013712,6.476731,-21.225810,-4.902997,-19.791248,19.168327,-3.617242,...,1.809371,-2.175815,-1.365104,0.174286,2.103868,-0.209944,1.278681,0.372393,99.99,1.0
17453,28726,-29.876366,16.434525,-30.558697,6.505862,-21.665654,-4.940356,-20.081391,19.587773,-3.591491,...,1.812954,-2.232252,-1.412803,0.178731,2.156042,-0.209385,1.255649,0.364530,99.99,1.0
17480,28755,-30.552380,16.713389,-31.103685,6.534984,-22.105532,-4.977692,-20.371514,20.007208,-3.565738,...,1.816520,-2.288686,-1.460544,0.183179,2.208209,-0.208824,1.232636,0.356660,99.99,1.0

In [ ]:
new_dataset['Class'].value_counts()

0.0    492
1.0     81
Name: Class, dtype: int64

In [ ]:
new_dataset.groupby('Class').mean()

,Time,V1,V2,V3,V4,V5,V6,V7,V8,V9,...,V20,V21,V22,V23,V24,V25,V26,V27,V28,Amount
Class,,,,,,,,,,,,,,,,,,,,,
0.0,13872.573171,-0.155833,0.246508,0.800327,0.182663,-0.091117,0.145159,-0.137370,-0.041314,0.775161,...,0.015526,-0.076642,-0.142602,-0.022424,0.045371,0.127508,0.043545,-0.000650,-0.004311,57.878516
1.0,16833.074074,-9.315066,6.779465,-13.052870,6.451318,-6.557541,-2.602613,-9.012856,4.730365,-3.087651,...,0.756424,0.549752,-0.423495,-0.398104,-0.277836,0.355688,0.177616,0.940693,0.090007,98.105926

Split the data

In [ ]:
X = new_dataset.drop(columns='Class', axis=1)
Y = new_dataset['Class']

In [ ]:
print(X)

        Time         V1         V2         V3        V4         V5        V6  \
8738   11878  -1.195723   0.301384   2.201803 -2.728104   0.068665 -0.206788
8439   11321   1.113691  -1.340337   2.031331 -0.066750  -1.784792  1.718839
12247  21398  -0.712661   0.322192   2.775495 -1.760907  -0.555376 -0.479376
2238    1769   1.241908   0.205299   0.398826  0.424773  -0.243974 -0.473666
14140  25145   1.215908   0.387750   0.411236  0.851294  -0.148434 -0.566084
...      ...        ...        ...        ...       ...        ...       ...
17317  28625 -27.848181  15.598193 -28.923756  6.418442 -20.346228 -4.828202
17366  28658 -28.524268  15.876923 -29.468732  6.447591 -20.786000 -4.865613
17407  28692 -29.200329  16.155701 -30.013712  6.476731 -21.225810 -4.902997
17453  28726 -29.876366  16.434525 -30.558697  6.505862 -21.665654 -4.940356
17480  28755 -30.552380  16.713389 -31.103685  6.534984 -22.105532 -4.977692

              V7         V8        V9  ...       V20       V21       V22  \
8738    0.236750  -0.077273  2.679181  ...  0.292602 -0.104339  0.488847
8439   -2.207828   0.698412  2.157591  ... -0.054468  0.226390  1.319148
12247   0.250480  -0.042155  2.472823  ... -0.139772 -0.107028  0.145017
2238   -0.036665  -0.047231 -0.218865  ... -0.060969 -0.225866 -0.678312
14140  -0.112743  -0.121530  1.378318  ... -0.183113 -0.415397 -0.936711
...          ...        ...       ...  ...       ...       ...       ...
17317 -19.210896  18.329406 -3.668735  ...  1.697856  1.802149 -2.062934
17366 -19.501084  18.748872 -3.642990  ...  1.706889  1.805770 -2.119376
17407 -19.791248  19.168327 -3.617242  ...  1.715862  1.809371 -2.175815
17453 -20.081391  19.587773 -3.591491  ...  1.724779  1.812954 -2.232252
17480 -20.371514  20.007208 -3.565738  ...  1.733644  1.816520 -2.288686

            V23       V24       V25       V26       V27       V28  Amount
8738  -0.429480 -0.323576  0.732168 -0.038993  0.220725 -0.044553   18.00
8439  -0.118245 -0.249858  0.311175  0.100265  0.101927  0.009237   26.50
12247 -0.343053  0.455037  0.365851 -0.868326 -0.094905 -0.162882   11.85
2238   0.081198 -0.002696  0.237988  0.097226 -0.032047  0.005763    1.29
14140  0.175750 -0.038783  0.105737  0.086950 -0.036109  0.020080    1.78
...         ...       ...       ...       ...       ...       ...     ...
17317 -1.269843  0.165409  1.999499 -0.211059  1.324809  0.388090   99.99
17366 -1.317450  0.169846  2.051687 -0.210502  1.301734  0.380246   99.99
17407 -1.365104  0.174286  2.103868 -0.209944  1.278681  0.372393   99.99
17453 -1.412803  0.178731  2.156042 -0.209385  1.255649  0.364530   99.99
17480 -1.460544  0.183179  2.208209 -0.208824  1.232636  0.356660   99.99

[573 rows x 30 columns]

In [ ]:
print(Y)

8738     0.0
8439     0.0
12247    0.0
2238     0.0
14140    0.0
        ...
17317    1.0
17366    1.0
17407    1.0
17453    1.0
17480    1.0
Name: Class, Length: 573, dtype: float64

In [ ]:
X_train, X_test, Y_train, Y_test = train_test_split(X, Y, test_size=0.2, stratify=Y, random_state=2)

In [ ]:
print(X.shape, X_train.shape, X_test.shape)

(573, 30) (458, 30) (115, 30)

Model Training

Logistic Regression

In [ ]:
model = LogisticRegression()

In [ ]:
#logistic regression
model.fit(X_train, Y_train)

/usr/local/lib/python3.9/dist-packages/sklearn/linear_model/_logistic.py:458: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. of ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  n_iter_i = _check_optimize_result(

LogisticRegression()

Model Evaluation

Accuracy Score

In [ ]:
# accuracy on training data
X_train_prediction = model.predict(X_train)
training_data_accuracy = accuracy_score(X_train_prediction, Y_train)

In [ ]:
print('Accuracy on Training data : ', training_data_accuracy)

Accuracy on Training data :  0.9890829694323144

In [ ]:
# accuracy on test data
X_test_prediction = model.predict(X_test)
test_data_accuracy = accuracy_score(X_test_prediction, Y_test)

In [ ]:
print('Accuracy score on Test Data : ', test_data_accuracy)

Accuracy score on Test Data :  0.9826086956521739